.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;

    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.2s;
}

.primary {
    color: var(--white);
    background-color: var(--primery);
}

.primary svg {
    fill: var(--white);
}


.primary:hover {
    color: var(--black);
    background-color: var(--primery-hover);
}

.primary:hover svg {
    fill: var(--black);
}


.ghost {
    color: var(--black);
    background: none;
    border: 1px solid var(--gray-light);
}

.ghost:hover {
    color: var(--white);
    background-color: var(--primery-hover);
}

.ghost:hover svg {
    fill: var(--white);
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transition: all 0.2s;
}


