html,
body {
    padding: 0;
    margin: 0;
    color: var(--black);
    background: #E5E5E5;;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --black: #3B434E;
    --gray-light: #EBEBEB;
    --white: white;
    --primery: #7653FC;
    --primery-hover: #a493e6;
    --ghost-hover: #a8a4bb;
    --red: #FC836D;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --font-family: 'Noto Sans KR', sans-serif;
}
